<span class="flex">
  <img src="/assets/images/myList.png" alt="myLIST">
</span>

<span class="flex">
  
  <div class="movie-card" *ngFor="let movie of _service.watchList, let i=index">
    
    <div class="movie-card-inner movie-card-top">
      <button class="add-to-watchlist button orange" title="Add to myLIST" (click)="remove(i)">-</button>
      <img class="thumbnail" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="movie thumbnail">
      <h2 class="thick">{{movie.title}}</h2>
      <p class="thick">Rating: {{movie.vote_average}} out of 10 <i class="fa fa-star" aria-hidden="true"></i></p>
      <div class="movie-card-top">
        <movie-detail [movieId]="movie.id"></movie-detail>
      </div>
    
    </div>
  </div>
  
</span>

<span class="flex">
  <button class="orange-button margin-50" routerLink="/app-root">Add More Movies</button>
</span>