<p>movie-detail works!</p>

<div class="movie-card">
    
    <div class="movie-card-top">
        <div class="thick button">+</div>
        <img class="thumbnail" src="https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="movie thumbnail">
    </div>
    
    <div class="movie-card-inner">
        
        <span>
            <span class="flex-reverse-row">
                <span class="flex">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <p class="padding-10">5</p>
                </span>
                
                <h2 class="thick">Fight Club</h2>
            </span>
            
            <span class="padding-10">
                <p>genre</p>
                <p>runtime</p>
            </span>
            
            <span class="padding-10 thick">
                <p>Directors:</p>
                <p>Writers:</p>
                <p>Stars:</p>
            </span>
        </span>
        
        <span>
            <button class="orange-button">Add to +myList</button>
        </span>
        
    </div>
</div>