<nav>
  <p class="orange">
      <span class="thin">FILTER BY:</span>
      <span class="thick">
          <div class="dropdown">
              <button class="dropbtn">Genre</button>
              <div class="dropdown-content">
                <a *ngFor="let genre of genreList" (click)="goToSearchResults(genre.id)"
                routerLink="/search-results">{{genre.name}}</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Rating</button>
              <div class="dropdown-content">
                <a href="#">High to Low</a>
                <a href="#">Low to High</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Length</button>
              <div class="dropdown-content">
                <a href="#">Longest to Shortest</a>
                <a href="#">Shortest to Longest</a>
              </div>
            </div>
      </span>
  </p>
  <img class="logo" src="../assets/images/logo.png" alt="CINEPHILIA+">
  <button (click)="hide()" routerLink="/watchlist-page"><span class="orange">+</span> myLIST</button>
</nav>

