<nav>
  <p class="orange">
      <span class="thin">FILTER BY:</span>
      <span class="thick">
          <div class="dropdown">
              <button class="dropbtn">Genre</button>
              <div class="dropdown-content">
                <a *ngFor="let genre of genreList" (click)="getMovieByGenre(genre.id)"
                routerLink="/search-results">{{genre.name}}</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn" routerLink="/search-results" (click)='worstMovie()'>Worst Movies Ever</button>
            </div>
            <div class="dropdown">
              <button class="dropbtn" routerLink="/search-results" (click)='highestGrossing()'>Highest Grossing Movies Ever</button>
            </div>
      </span>
  </p>
  <img class="logo" src="" alt="CINEPHILIA+">
  <button (click)="hide()" routerLink="/watchlist-page"><span class="orange">+</span> myLIST</button>


</nav>

