<p>movie-list works!</p>


<span class="flex">
    
    <div class="movie-card">
      
      <div class="movie-card-top">
        <div class="thick button">+</div>
        <img class="thumbnail" src="https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="movie thumbnail">
      </div>
      
      <div class="movie-card-inner">
        
        <span class="flex">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <p class="padding-10">5</p>
        </span>
        
        <h2 class="thick">Fight Club</h2>
        <p>genre</p>
        <p>runtime</p>
        
      </div>
    </div>
    
    <div class="movie-card">
      
      <div class="movie-card-top">
        <div class="thick button">+</div>
        <img class="thumbnail" src="https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="movie thumbnail">
      </div>
      
      <div class="movie-card-inner">
        
        <span class="flex">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <p class="padding-10">5</p>
        </span>
        
        <h2 class="thick">Fight Club</h2>
        <p>genre</p>
        <p>runtime</p>
        
      </div>
    </div>
    
    <div class="movie-card">
      
      <div class="movie-card-top">
        <div class="thick button">+</div>
        <img class="thumbnail" src="https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="movie thumbnail">
      </div>
      
      <div class="movie-card-inner">
        
        <span class="flex">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <p class="padding-10">5</p>
        </span>
        
        <h2 class="thick">Fight Club</h2>
        <p>genre</p>
        <p>runtime</p>
        
      </div>
    </div>
    
  </span>